{% extends "base.html" %}
{% load static %}
{% block title_block %}
    All My posts
{% endblock %}

{% block css_file %}
    <link rel="stylesheet" href="{% static "Blog/all-posts.css" %}">
    <link rel="stylesheet" href="{% static "Blog/post.css" %}">

{% endblock %}

{% block body_block %}
    <section id="all-posts">
        <h2> My collected Posts</h2>
        <ul>
            {% for p in posts %}
                {% include "Blog/includes/post.html" %}
            {% endfor %}
        </ul>
    </section>

{% endblock %}

